* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* App */

.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/*Sidebar */
.sidebar {
  width: 300px;
  min-width: 210px;
  height: 100%;
}

/* Main */
.main {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./assets//img/pexels-jess-bailey-designs-1007025.jpg');
}

/* User */

.user {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  border: 1px solid #ebebeb;
}

.logo {
  width: 50px;
  height: 50px;
}

.user .info p{
font-size: 1rem;
font-weight: bold;
}

/* Modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.8;
}

.modal .modal_container {
  position: absolute;
  top: 25%;
  left: 50%;
transform: translate(-50%, -25%);
background: white;

}

/* addNewTodo */

.addNewTodo {
  border-bottom: 1px solid #ebebeb;
}

.addNewTodo .btn {
  padding: 1rem;
  width: 100%;
  height: 70px;
}

.addNewTodo .btn button {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  background-color: rgb(0, 81, 255);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.addNewTodo .btn button:hover {
filter: brightness(1.5);
transition: all 200ms ease ;
}

.addNewTodo form {
  padding: 1rem 1rem calc(1rem + 40px) 1rem;
  width: 500px;
  background: white;
  border-radius: 4px;
}

.addNewTodo form img {
  width: 18px;
  height: 18px;
}

.addNewTodo form .text input {
  padding: 1rem;
  width: 100%;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.addNewTodo form .text input:focus {
  outline: none;
  border-bottom: 1px solid blue;
}

.addNewTodo form .remind {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.addNewTodo form .p {
  margin-left: 10px;
}

.addNewTodo form .titles {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.addNewTodo form .pick-day {
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.addNewTodo form .pick-time {
  padding: 1.5rem;
}

.addNewTodo form .pick-title {
  padding: 0.5rem;
}

.addNewTodo form .pick-title .themes {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 1rem 0 1rem;
}

.addNewTodo form .pick-title .themes .theme {
  border: 1px solid blue;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.addNewTodo form .pick-title .themes .active{ 
  background-color: blue;
  color: white;
}

.addNewTodo form .cancel {
position: absolute;
top: 0;
right: 5px;
cursor: pointer;
}

.addNewTodo form .confirm {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.addNewTodo form .confirm button{
width: 100%;
height: 40px;
background: blue;
color: white;
font-size: 1.1rem;
border: none;
border-radius: 0 0 4px 4px;
cursor: pointer;
}

/* Calendar */
.calendar {
  padding: 1rem;
  border-bottom: 1px solid #ebebeb;
}

.calendar .header {
  display: flex;
  align-items: center; 
}

.calendar .header .title{
  display: flex;
  align-items: center; 
  flex: 1;
}

.calendar .header .title p{
  margin-left: 5px;
  font-size: 1.1rem;
  font-weight: bold;
}

.calendar .header .btns span {
  border-radius: 50%;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content:  center;
}

.calendar .header .btns span:hover {
background-color: #ebebeb;
transition: all 200ms ease-in-out;
}

.calendar .items {
  padding: 0.5rem;
}

.calendar .items .item {
  padding: 0.25rem;
  margin: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.calendar img {
  width: 20px;
  height: 20px;
}
